.slideshow {
    overflow: hidden;
    position: relative;

    .fade {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .slideIn {
        animation: slideFromRight 1s forwards;
    }

    .slideOut {
        animation: slideToLeft 1s forwards;
    }

    @keyframes slideFromRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideToLeft {
        0% {
            transform: translateX(0);
            opacity: 1;
        }

        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    .dotGroup {
        position: absolute;
        height: 50px;
        bottom: 20px;
        display: flex;
        gap: 21px;
        justify-content: center;
        align-items: center;

        .dot {
            width: 8px;
            height: 8px;
            border-radius: 8px;
            opacity: 0.5;
            background-color: #ffffff;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                opacity: 1;
            }

            &.active {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                opacity: 1;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    top: -4px;
                    left: -4px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 1px solid #ffffff;
                    pointer-events: none;

                }
            }
        }
    }
}