.hottest {
    overflow: hidden;
    gap: 30px;

    .hottest__main {
        gap: 20px;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
        scroll-snap-type: both;

        .hottestCard {
            flex: 0 0 calc(50% - 10px);
            min-width: 490px;
        }

        @media (max-width:768px) {
            .hottestCard {
                width: 390px;
                min-width: 390px;
            }
        }
    }

    .hottest__main::-webkit-scrollbar {
        display: none;
    }


}