.hottest {
    overflow: hidden;
    gap: 30px;

    .hottest__main {
        gap: 20px;
        width: 100%;
        max-width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
        scroll-snap-type: both;

        .hottestCard {
            flex: 0 0 calc(50% - 10px);
        }
    }

    .hottest__main::-webkit-scrollbar {
        display: none;
    }
}